* {
    color: rgb(219, 216, 216);
    background-color: rgb(90, 90, 90);
}

body {
    font-family: Verdana, "Times New Roman", sans-serif;
    text-align: center;
}

.bg {
    background-color: rgb(0, 0, 0);
}

.heading {
    color: rgb(255, 255, 255);
}

h2, ol, ul {
    text-align: left;
}

ul {
    list-style-type: none;
    font-size: 23px;
}

li {
    margin-bottom: 15px;
    margin-right: 20px;
}

img {
    height: auto;
    width: 300px;
}

a {
    text-decoration: none;
}

a :hover {
    background-color: rgb(56, 56, 56);
}